/*
* — Host Element —
*/
:host {
    display: flex;
    flex-direction: column;
}

/*
* — Cart Header -
*/
header {
    border-bottom: 1px solid var(--lwc-colorBorderSeparator);
    display: flex;
    justify-content: space-between;
}

.float_right{
    float:right;
}

/* Screens larger than phone */
@media only screen and (min-width: 64em) {
    header {
        padding-bottom: 0.94rem;
    }
    h1 {
        font-size: 1.75rem;
    }
}

/* Phone screens */
@media only screen and (max-width: 64em) {
    header {
        align-items: center;
    }
    h1 {
        font-size: 1.125rem;
    }
}

/*
* — Cart Items Sort Menu -
*/
.sort-menu {
    align-items: center;
    display: flex;
    font-family: 'gelion regular';
}